rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor');
      allow create: if request.auth != null;
      allow update: if request.auth.uid == userId;
    }

    match /users/{patientId}/vitals/{vitalId} {
      allow read: if request.auth.uid == patientId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor';
      allow write: if request.auth.uid == patientId;
    }

    match /users/{patientId}/estimations/{estimationId} {
       allow read: if request.auth.uid == patientId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor';
      allow write: if request.auth.uid == patientId;
    }

     match /alerts/{alertId} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor' || resource.data.patientId == request.auth.uid;
      allow create: if request.auth.uid != null;
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor';
    }

    match /devices/{deviceId} {
        allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    match /appointments/{appointmentId} {
        allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor' || request.auth.uid == resource.data.patientId;
        allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor';
    }

    match /deviceCommands/{deviceId} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['doctor', 'admin'];
      allow create: if request.auth.uid != null &&
                     get(/databases/$(database)/documents/users/$(request.auth.uid)).data.deviceId == deviceId;
    }
  }
}
